@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #1d1d1f;
  --color: #fff;
  --color2: #1d1d1f;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: var(--color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.display-0 {
  position: absolute;
  top: -99rem;
  scale: 0;
}


@media (prefers-color-schema:light) {
  :root {
    --color: var(--bg-color);
    --bg-color: #fff;
  }
}

@media screen and (min-width:768px) {}

@media screen and (min-width:640px) {}

@media screen and (max-width:400px) {
  .videoContainer {
    &>video {
      scale: 0;
    }
  }
}

.load-on-scroll {
  opacity: 0;
  transition: all 0.25s ease-in;
}
